<!-- Home Intro
================================================== -->

<div class="content mx-auto">
  <div class="containertt">
    <!-- <div class="overlay"></div> -->
    <div class="rounded mt-4 hero">
      <div class="intro mt-3">
        <h1>반갑습니다,</h1>
      </div>
      <div>
        <h1>문세희입니다.</h1>
        <div class="wow fadeInDown pt-2">
          개발자의 이상과 고객의 니즈 사이에서<br />
          최선의 서비스를 만들고자 합니다.
        </div>
      </div>
    </div>
  </div>

  <div class="my-5">
    <section class="wow fadeInDown my-0" style="text-align: right">
      <h3 class="pb-2 pl-xl-0 pl-3" style="line-height: 1.6">
        추상적인 상상이 코드를 통해 현실화될 때
        <br />
        큰 즐거움을 느낍니다.
      </h3>
      <p>
        비즈니스적인 사고와 개발 지향적인 코드의 <br class="break-p" />
        교집합을 찾는 것을 좋아합니다.
        <br />
        원활한 소통과 유연한 협업이 만들어 내는 <br class="break-p" />
        효율성을 최선의 가치로 믿습니다.
      </p>
    </section>

    <section class="wow fadeInDown">
      <div class="row">
        <div class="col-4 col-xl">
          <h4>Profile.</h4>
        </div>
        <div class="col-8 col-xl">
          <ul class="introduction">
            <li>문세희</li>
            <li>Web Developer</li>
          </ul>
        </div>
        <div class="col-4 col-xl">
          <h4>Contact.</h4>
        </div>
        <div class="col-8 col-xl">
          <ul class="introduction">
            <li>shmm0320@gmail.com</li>
            <li><a href="https://github.com/shm-m">Github | shm-m </a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="wow fadeInDown">
      <h4>Skills & Tools.</h4>
      <ul class="px-0">
        <li class="skill special">Vue.js</li>
        <li class="skill special">TypeScript</li>
        <li class="skill special">JavaScript</li>
        <li class="skill special">Java</li>
        <li class="skill special">Spring Framework</li>
        <li class="skill special">Oracle DBMS</li>
        <li class="skill">MySQL</li>
        <li class="skill">MariaDB</li>
        <li class="skill">HTML</li>
        <li class="skill">CSS</li>
        <li class="skill">JQuery</li>
        <li class="skill">Git</li>
      </ul>
    </section>

    <!-- <section class="wow fadeInDown"> 
       <h4>• Education</h4>
      <div class="row">
        <div class="col-xl-3 col-5">
          <h5>비트캠프</h5>
          <p>2021.03 ~ 2021.08</p>
        </div>

        <div class="col-xl-9 col-7">
          <p>디지털컨버전스 기반 Framework 전문 개발자 양성과정 B</p>
          <p
            style="
              color: rgb(134, 134, 134);
              margin-top: -15px;
              font-weight: 400;
            "
          >
            JAVA, Database, 웹표준 구현 기술 및 언어를 학습하고 SpringBoot를
            기반으로 한 웹서비스 프로젝트 제작
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-5">
          <h5>국민대학교</h5>
          <p>2017.03 ~ 2021.08</p>
        </div>

        <div class="col-xl-9 col-7">
          <p>
            정치외교학 전공 <br />
            미디어학 복수전공
          </p>
        </div>
      </div>
    </section> -->

    <section class="wow fadeInDown pt-3">
      <h4>Experience.</h4>
      {% include experience.html%}
    </section>

    <section class="wow fadeInDown">
      <h4>Certificate.</h4>
      <div class="row">
        <div class="col-xl-3 col-12">
          <h5>SQL 개발자 | SQLD</h5>
        </div>
        <div class="col-xl-9">
          <p>2021년 12월 17일 취득</p>
        </div>
      </div>
    </section>

    <section class="wow fadeInDown pb-5">
      <h4>Project.</h4>
      <p style="color: rgb(134, 134, 134)">
        <a href="{{ site.baseurl }}/projects"
          >Click here to view my projects 👈</a
        >
      </p>
    </section>
  </div>
</div>
