<!-- Home Intro
================================================== -->

<div class="content mx-auto">
  <div class="containertt">
    <!-- <div class="overlay"></div> -->
    <div class="wow fadeInDown main-img pb-3">
      <img src="/assets/images/ballondog.png" id="dung" />
      <div class="stress">
        반갑습니다,<br />
        문세희입니다.
      </div>
      <img src="/assets/images/bubble-1.png" id="bubble" class="bubble-1" />
      <img src="/assets/images/bubble-2.png" id="bubble" class="bubble-2" />
      <img src="/assets/images/bubble-3.png" id="bubble" class="bubble-3" />
    </div>
    <div class="pt-xs-5">
      <h5 class="wow fadeInDown pt-2 introduction">
        웹 개발자로서, 추상적인 상상이 코드를 통해 현실화될 때 큰 즐거움을
        느낍니다.
        <br />비즈니스적 사고와 개발 지향적인 코드의 교집합을 찾는 것을
        좋아합니다. <br class="break-p" />원활한 소통과 유연한 협업이 만들어
        내는 거대한 효율성을 최선의 가치로 믿습니다.
      </h5>
    </div>

    <div class="my-5">
      <section class="wow fadeInDown">
        <h1 class="item">Contact.</h1>
        <ul class="profile">
          <li>shmm0320@gmail.com</li>
          <li><a href="https://github.com/shm-m">Github</a></li>
        </ul>
      </section>

      <section class="wow fadeInDown">
        <h1 class="item">Skills & Tools.</h1>
        <ul class="px-0">
          <li class="skill special">Vue.js</li>
          <li class="skill special">TypeScript</li>
          <li class="skill special">JavaScript</li>
          <li class="skill special">Java</li>
          <li class="skill special">Spring Framework</li>
          <li class="skill special">Oracle DBMS</li>
          <li class="skill">MySQL</li>
          <li class="skill">MariaDB</li>
          <li class="skill">HTML</li>
          <li class="skill">CSS</li>
          <li class="skill">JQuery</li>
          <li class="skill">Git</li>
        </ul>
      </section>

      <section class="wow fadeInDown pt-3">
        <h1 class="item">Experience.</h1>
        {% include experience.html%}
      </section>

      <section class="wow fadeInDown">
        <h1 class="item">Certificate.</h1>
        <div class="row">
          <div class="col-xl-4 col-12">
            <h5>SQL 개발자 | SQLD</h5>
          </div>
          <div class="col-xl-8">
            <p>2021년 12월 17일 취득</p>
          </div>
        </div>
      </section>

      <section class="wow fadeInDown pb-5">
        <h1 class="item">Project.</h1>
        <p style="color: rgb(134, 134, 134)">
          <a href="{{ site.baseurl }}/projects"
            >Click here to view my projects 👈</a
          >
        </p>
      </section>
    </div>
  </div>
</div>
