<div class="row">
  <div class="col-xl-4">
    <h4 class="company">DONGKUK SYSTEMS</h4>
    <p>2022.05 ~ 2023.12</p>
  </div>

  <div class="col-xl-8">
    <div class="wow fadeInDown">
      <div class="experience">
        <h5>마이데이터 고도화</h5>
      </div>
      <p class="experience-timeline">2022.07 ~ 2023.03</p>
      <p class="item-small">Description</p>
      <p class="experience-desc">
        마이데이터 서비스 내 자동차 및 부동산 서비스 신규 개발
      </p>
      <p class="item-small">Skills</p>
      <p class="experience-desc">
        Vue.js, TypeScript, Spring Framework, Oracle DBMS, Bitbucket
      </p>
      <ul class="experience-detail">
        <li>소유 차량 등록 및 차량 정보 제공 서비스 구현</li>
        <li>차량 소모품 관리 기능 구현</li>
        <li>개별 회원에 따른 맞춤형 메세지 개발</li>
        <li>
          매매, 전세, 월세에 따른 등록 부동산 시세 및 정보 제공 서비스 구현
        </li>
        <li>마이데이터 회원가입 프로세스 간소화 및 인터페이스 개선</li>
      </ul>
    </div>
    <div class="wow fadeInDown">
      <div class="experience pt-5 mt-4">
        <h5>마이데이터 2.0</h5>
      </div>
      <p class="experience-timeline">2023.03 ~ 2023.12</p>
      <p class="item-small">Description</p>
      <p class="experience-desc">
        마이데이터 v2.0 적용 및 속도 개선을 위한 신규 프레임워크 구축 및 개발
      </p>
      <p class="item-small">Skills</p>
      <p class="experience-desc">
        SpringBoot, Oracle DBMS, Oracle Coherence, Bitbucket, Bamboo Plan, Nexus
        Repository, Vue.js, TypeScript
      </p>
      <ul class="experience-detail">
        <li>
          백엔드 기술 환경 및 프레임워크, 코딩 컨벤션 및 공통 기능 설정 참여
        </li>
        <li>
          Bamboo Plan을 통한 운영 서버 배포 프로세스 정립 및 정규 배포 진행
        </li>
        <li>프론트엔드와 백엔드 간 JWT 공유 구현</li>
        <li>회원 유형 따른 라우팅 처리, 프론트엔드 공통 모듈 설정</li>
      </ul>
    </div>
  </div>
</div>
