---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
       <div class="content mx-auto pb-5">
		<!-- Post -->        
			<div class="mainheading pb-4">             
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                         <a href="{{ site.baseurl }}/categories#{{ category | slugify }}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
				<h1 class="posttitle mb-3">{{ page.title }}</h2> 
                
			</div>

			<!-- Post Content -->
			<div class="article-post">
				{{content}}
                <div class="clearfix"></div>
			</div>

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>
        </div>

        <div class="pt-4 pb-3">
            <script>
                // comment
                let getTheme = localStorage.getItem("theme");
                let theme = getTheme === 'dark' ? 'github-dark' : 'github-light';
                let s = document.createElement('script');
                s.src = 'https://utteranc.es/client.js';
                s.setAttribute('repo', 'shm-m/shm-m.github.io');
                s.setAttribute('issue-term', 'pathname');
                s.setAttribute('theme', theme);
                s.setAttribute('crossorigin', 'anonymous');
                s.setAttribute('async', '');
                document.body.appendChild(s);
            </script>
        </div>



		

<!-- End Article
================================================== -->